/* Layout: 980px fixed-width: 40px margin, 600px main tex,           */
/* 40px margin, 240px for toc and marginalia, 40px margin            */
/*                                                                   */
/*                                                                   */
/* Colours:                                                          */
/*                                                                   */
/* #1C3950: header and h1 background, h2, h3 foreground, main links  */
/* HSV: 207, 65, 31                                                  */
/* Decimal RGB: 28, 57, 80                                           */
/*                                                                   */
/* #2A6EA6; link colour, graph line colour, d3 paths, widgets        */
/* HSV: 207, 75, 65                                                  */
/* Decimal RGB: 42, 110, 166                                         */
/*                                                                   */
/* #FFA933: complement to #2A6EA6, for use on graphs                 */
/*                                                                   */
/* Triad: #2A6EA6, #FFCD33, #FF7033                                  */
/*                                                                   */
/* #eee: header text                                                 */

@import url("https://fonts.googleapis.com/css?family=Lato:300, 400, 600, 700, 300italic, 700italic");


/* Reset */

body {
    background: #fff;
    font-style: normal;
    font: 400 0.900em/1.58 Lato;
    line-height: 1.3;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}


/* Header */

.header, .nonumber_header {
    width: 100%;
    background-color: #444;
}

.header {
    height: 120px;
}

.nonumber_header {
    height: 80px;
}

h1 {
    margin: 0px;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
}

h1.chapter_number {
    padding-top: 25px;
    font-size: 24px;
}

h1.chapter_number a {
    color: #eee;
}

h1.chapter_title a {
    color: #eee;
}

h2 {
    position: absolute;
    top: 0px;
    left: 40px;
    right: 40px;
    padding: 0px;
    font-size: 34px;
    line-height: 1.2;
    color: #eee;
    white-space: nowrap;
}

h2 a {
    color: #eee;
}

/********/
/* Main */
/********/

#insertion {
    line-height: 1.7;
    color: #333;
    padding: 5px 10px 5px 10px;
    background: #ccaaaa;
    border: 1px solid;
    margin: 10px 0px 0px 0px;
}

h4, h3 {
    margin-top: 150px;
    font-size: 2em;
}

h5 {
    color: #1C3950;
    margin: 20px 0px 10px 0px;
    padding: 0;
    padding-left: 0px;
    font-size: 26px;
    line-height: 1.2;
}

.section {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

a { 
    color: #2A6EA6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.equation_link {
    color: #2A6EA6;
}

.equation_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.MathJax {
    color: #2A2A2A;
}

/* Set the font size for Pygments */
.highlight {
    background: #F9F9F9;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: "Source Code Pro";
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Set the font size for code */
tt {
    font-size: 12pt;
}


/* d3 styling */
path {
    stroke: rgb(42, 110, 166);
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 11px;
}
.axis line, .axis path {
    stroke: grey;
}

.axisLabel {
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-weight: bold;
}

/* Table of contents, and margin notes */

#toc, .marginnote, .marginequation {
    display: none;
    position: absolute;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    right: -40px;
    text-align: center;
}

.sidebar {
    display: none;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.5;
}

.toc_title {
    margin: 0; 
    padding: 0;
    font-size: 12pt;
    line-height: 1.5;
}

.toc_not_mainchapter {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 12pt;
    line-height: 1.5;
}

.toc_mainchapter {
    margin: 0; 
    padding: 0 0 0 15px; 
    text-indent: -15px;
    font-size: 12pt;
    line-height: 1.5;
}


.toc_reveal {
    cursor: pointer;
}

.toc_section {
    padding: 0 0 0 15px; 
    margin: 0;
}

#toc ul {
    padding: 0 0 0 15px;
    list-style-position: inside;
    margin: 0;
    line-height: 1.5;
}

.sidebar_title {
    font-size: 18pt;
}

.marginnote {
    font-size: 9pt;
    color: #666;
    display: inline-block;
}

.marginnote .MathJax {
    color: #666;
}

.marginnote tt {
    font-size: 9pt
}

.marginequation .MathJax {
    color: #2A6EA6;
}

#toc {
    font-size: 12pt;
    color: #000;
}

/* Footer */

.footer {
    position: relative;
    top: 0px;
    width: 100%;
    height: 130px;
    margin: 0;
    background-color: #1C3950;
}

span.left_footer, span.right_footer {
    position: absolute;
    top: 12px;
    left: 40px;
    padding: 0px;
    margin: 0px;
    font-size: 9pt;
    font-style: bold;
    line-height: 1.5;
    color: #eee;
}

span.left_footer {
    display: block;
    width: 600px;
    word-wrap:break-word;
}

span.right_footer {
    right: 40px;
    text-align: right;
}

.MathJax_Display {
    color: #333 !important;
}



/* Adapted from http://worrydream.com/ScrubbingCalculator/style.css, */
/* by Bret Victor */
.videoOverlay {
    position: absolute;
    cursor: pointer;
    background-color: white;
    z-index: 100;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.videoOverlay img {
    position: absolute;
    display: block;
}

/* class for text labels on the 3d graphs */
.graph3D {
    position: absolute;
    font: 15px MJX_Math;
    background-color: white;
    border-radius: 5px;
    line-height: 18px;
    padding-top: 0;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
}
